/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/firebase/*.json
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/build/
/mobile/android/app/google-services.json
/mobile/ios/Runner/GoogleService-Info.plist
/mobile/ios/Pods/
/mobile/ios/.symlinks/
